@charset 'utf-8';
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&subset=korean');
/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,
b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
html,body{line-height:1.5;font-family:'Noto Sans KR', sans-serif}
input,label,button{border:none;background:none}
ol,ul{list-style:none}
a{text-decoration:none;font-size:100%;color:#555;background:transparent}
/* common */
._clearfix:after{content:'';display:block;clear:both}
#_header,#_container,#_footer{position:relative}
._hide{display:block;overflow:hidden;width:0 !important;height:0 !important;margin:0 !important;padding:0 !important;text-indent:-9999px}
._rel{display:block;max-width:100%;margin:0 auto}
._sub_tit{font-size:20px;font-weight:bold;color:#777}
._sub_tit em{font-size:24px;font-weight:bold;color:#555}
#_container ._content_wrap ._content_box:nth-child(2n) ._sub_tit{padding-left:30px}
/* skip_menu */
#_skip_menu{position:relative;z-index:9999}
#_skip_menu a{position:absolute;top:-50px;left:0;width:100%;height:30px;line-height:30px;text-align:center;color:#fff;background-color:#000}
#_skip_menu a:focus,#_skip_menu a:active{top:0}
/* _header */
#_header ._header_top{width:90%;max-width:1200px;height:60px;margin:0 auto}
#_header ._header_top ._logo_wrap{float:left}
#_header ._header_top ._logo_wrap ._logo{padding:10px}
#_header ._header_top ._logo_wrap ._logo a{display:block;line-height:30px;font-size:24px;font-weight:bold}
#_header ._header_top ._member_info_wrap{float:right}
#_header ._header_top ._member_info_wrap ._lst{float:left;position:relative;padding:10px 20px;height:30px}
#_header ._header_top ._member_info_wrap ._lst:after{content:'';position:absolute;right:0;top:50%;width:1px;height:14px;margin-top:-7px;background-color:#555}
#_header ._header_top ._member_info_wrap ._lst:last-of-type:after{display:none}
#_header ._header_top ._member_info_wrap ._lst a{display:block;line-height:30px;text-align:center;font-size:14px}
#_header ._header_top ._member_info_wrap ._lst a:hover{font-weight:bold;color:#000}
#_header ._header_down_wrap{position:absolute;top:60px;left:0;width:100%;background-color:#fff;border-top:1px solid #ccc;border-bottom:1px solid #ccc;z-index:200}
#_header ._header_down_wrap._on:before{content:'';position:absolute;top:40px;left:0;width:100%;height:1px;background-color:#ccc}
#_header ._header_down ._local_menu{width:90%;max-width:1200px;margin:0 auto}
#_header ._header_down ._local_menu ._lst{float:left;width:16%;text-align:center}
#_header ._header_down ._local_menu ._lst._lst1{margin-left:2%}
#_header ._header_down ._local_menu ._lst:last-of-type{margin-right:2%}
#_header ._header_down ._local_menu ._lst:hover > a{font-size:18px;color:#000}
#_header ._header_down ._local_menu ._lst:hover ._sub_lst{background-color:#ccc}
#_header ._header_down ._local_menu ._lst > a{display:inline-block;position:relative;line-height:38px;font-weight:bold;color:#555;-webkit-transition:all 0.3s ease;-o-transition:all 0.3s ease;-moz-transition:all 0.3s ease;transition:all 0.3s ease}
#_header ._header_down ._local_menu ._lst > a:after{content:'';position:absolute;top:35px;left:0;width:0;height:2px;background-color:#555;-webkit-transition:all 0.3s ease;-o-transition:all 0.3s ease;-moz-transition:all 0.3s ease;transition:all 0.3s ease}
#_header ._header_down ._local_menu ._lst._on > a:after{width:100%}
#_header ._header_down ._local_menu ._lst._active > a:after{width:100%}
#_header ._header_down ._local_menu ._lst ._sub_lst{display:none;height:360px}
#_header ._header_down ._local_menu ._lst ._sub_lst li a{display:block;height:40px;line-height:40px;font-size:14px;color:#555}
#_header ._header_down ._local_menu ._lst ._sub_lst li a:hover{color:#fff}
#_header ._moblie_menu_btn_wrap ._m_btn{display:none;position:fixed;top:5px;right:5px;width:38px;height:38px;border:1px solid #ccc;background:rgba(0,0,0,0.6);z-index:301}
#_header ._moblie_menu_btn_wrap ._m_btn span{position:absolute;left:50%;width:24px;height:2px;margin-left:-12px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;background-color:#fff;-webkit-transition:all 0.3s ease;-o-transition:all 0.3s ease;-moz-transition:all 0.3s ease;transition:all 0.3s ease}
#_header ._moblie_menu_btn_wrap ._m_btn span._top{top:10px}
#_header ._moblie_menu_btn_wrap ._m_btn span._mid{top:50%;margin-top:-1px}
#_header ._moblie_menu_btn_wrap ._m_btn span._bot{bottom:10px}
#_header ._moblie_menu_btn_wrap ._m_btn._on span._top{top:50%;margin-top:-1px;-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);-moz-transform:rotate(45deg);transform:rotate(45deg)}
#_header ._moblie_menu_btn_wrap ._m_btn._on span._mid{display:none}
#_header ._moblie_menu_btn_wrap ._m_btn._on span._bot{top:50%;margin-top:-1px;-webkit-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-o-transform:rotate(-45deg);-moz-transform:rotate(-45deg);transform:rotate(-45deg)}
#_moblie_menu_wrap{display:none;position:fixed;top:0;right:0;width:50%;height:100%;z-index:300;background-color:rgba(0,0,0,0.8)}
#_moblie_menu_wrap ._moblie_gnb{position:absolute;top:50%;left:50%;width:80%;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}
#_moblie_menu_wrap ._moblie_gnb ._moblie_menu_lsts ._lst{height:auto}
#_moblie_menu_wrap ._moblie_gnb ._moblie_menu_lsts ._lst > a{display:inline-block;line-height:40px;font-size:22px;color:#fff}
#_moblie_menu_wrap ._moblie_gnb ._moblie_menu_lsts ._lst > a span{margin-left:10px;font-size:18px;color:#ccc}
#_moblie_menu_wrap ._moblie_gnb ._moblie_menu_lsts ._lst ._sub_lst{display:none}
#_moblie_menu_wrap ._moblie_gnb ._moblie_menu_lsts ._lst ._sub_lst > li{float:left;position:relative;width:50%;padding-left:20px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;z-index:302}
#_moblie_menu_wrap ._moblie_gnb ._moblie_menu_lsts ._lst ._sub_lst > li:before{content:'';position:absolute;top:50%;left:0;width:10px;height:2px;margin-top:-1px;background-color:#fff}
#_moblie_menu_wrap ._moblie_gnb ._moblie_menu_lsts ._lst ._sub_lst > li a{display:inline-block;line-height:30px;font-size:16px;color:#fff}
/* _container */
/* slider */
#_container{max-width:1200px;width:90%;margin:40px auto 0}
#_container ._slider_container{overflow:hidden;position:relative;width:100%;margin:0 auto 30px}
#_container ._slider_container ._slider_wrap{margin:0 auto}
#_container ._slider_container ._slider_wrap ._slider{position:absolute;width:600%}
#_container ._slider_container ._slider_wrap ._slider li{float:left;width:10%;padding:0 10px;font-size:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
#_container ._slider_container ._btn{display:block;position:absolute;top:50%;width:41px;height:41px;background-image:url(../img/common/sprite_btn.png);-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);-moz-transform:translateY(-50%);transform:translateY(-50%);z-index:100}
#_container ._slider_container ._btn._prev_btn{left:0;background-position:0 -217px}
#_container ._slider_container ._btn._next_btn{right:0;background-position:-51px -217px}
#_container ._slider_container ._btn._prev_btn:hover{background-position:0 -268px}
#_container ._slider_container ._btn._next_btn:hover{background-position:-51px -268px}
#_container ._slider_container ._pager_wrap{position:absolute;left:0;bottom:20px;width:100%;margin:0 auto;text-align:center;z-index:100}
#_container ._slider_container ._pager_wrap ._pager_btn{display:inline-block;width:28px;height:28px;margin-right:15px;line-height:28px;border:1px solid #000;-webkit-border-radius:50%;-ms-border-radius:50%;border-radius:50%;-webkit-transition:all 0.3s ease;-o-transition:all 0.3s ease;-moz-transition:all 0.3s ease;transition:all 0.3s ease;cursor:pointer}
#_container ._slider_container ._pager_wrap ._pager_btn._on{color:#fff;background-color:rgba(0,0,0,0.8)}
#_container ._slider_container ._pager_wrap ._pager_btn._pager_btn6{margin-right:0}
#_container ._slider_container ._play_stop_wrap{position:absolute;bottom:20px;right:100px;z-index:101}
#_container ._slider_container ._play_stop_wrap ._btn{display:none;position:static;top:inherit;-webkit-transform:none;-ms-transform:none;-moz-transform:none;transform:none}
#_container ._slider_container ._play_stop_wrap ._btn._start{background-image:url(../img/common/start_btn.png);background-repeat:no-repeat;background-position:50% 50%}
#_container ._slider_container ._play_stop_wrap ._btn._stop{margin-right:0;background-image:url(../img/common/pause_btn.png);background-repeat:no-repeat;background-position:50% 50%}
#_container ._slider_container ._play_stop_wrap ._btn._start._on,#_container ._slider_container ._play_stop_wrap ._btn._stop._on{display:inline-block}
/* content */
#_container._main ._content_wrap{border-top:1px solid #ccc}
#_container ._content_wrap ._content_box{position:relative;width:100%;padding:30px 0}
#_container._main ._content_wrap ._content_box{float:left;width:25%}
#_container._main ._content_wrap ._content_box ._content{position:absolute;top:50%;left:50%;width:100%;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}
/* content_01 */
#_container ._content_wrap._content_01 ._keyword_lsts_wrap{width:100%;padding:10px;background-color:#fff;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-transition:all 0.3s ease;-o-transition:all 0.3s ease;-moz-transition:all 0.3s ease;transition:all 0.3s ease}
#_container ._content_wrap._content_01 ._keyword_lsts li{position:relative;padding-bottom:10px;-webkit-transition:all 0.3s ease;-o-transition:all 0.3s ease;-moz-transition:all 0.3s ease;transition:all 0.3s ease}
#_container ._content_wrap._content_01 ._keyword_lsts li:nth-child(n+8){height:0;opacity:0;padding-bottom:0}
#_container ._content_wrap._content_01 ._keyword_lsts_wrap._on ._keyword_lsts li:nth-child(n+8){height:auto;opacity:1;padding-bottom:10px}
#_container ._content_wrap._content_01 ._keyword_lsts li em{margin-right:10px;font-weight:bold;color:#777}
#_container ._content_wrap._content_01 ._keyword_lsts li span{display:inline-block;overflow:hidden;width:80%;text-overflow:ellipsis;white-space:nowrap}
#_container ._content_wrap._content_01 ._more_btn_wrap{width:100%;text-align:center}
#_container ._content_wrap._content_01 ._more_btn_wrap ._more_btn{display:inline-block;position:relative;width:40px;height:40px;cursor:pointer}
#_container ._content_wrap._content_01 ._more_btn_wrap ._more_btn:after{content:'';position:absolute;top:50%;left:42%;width:16px;height:3px;background-color:#000;-webkit-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-o-transform:rotate(-45deg);-moz-transform:rotate(-45deg);transform:rotate(-45deg);-webkit-transition:all 0.3s ease;-o-transition:all 0.3s ease;-moz-transition:all 0.3s ease;transition:all 0.3s ease}
#_container ._content_wrap._content_01 ._more_btn_wrap ._more_btn:before{content:'';position:absolute;top:50%;right:42%;width:16px;height:3px;background-color:#000;-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);-moz-transform:rotate(45deg);transform:rotate(45deg);-webkit-transition:all 0.3s ease;-o-transition:all 0.3s ease;-moz-transition:all 0.3s ease;transition:all 0.3s ease}
#_container ._content_wrap._content_01 ._keyword_lsts_wrap._on ._more_btn_wrap ._more_btn:before{content:'';position:absolute;top:50%;right:42%;width:16px;height:3px;background-color:#000;-webkit-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-o-transform:rotate(-45deg);-moz-transform:rotate(-45deg);transform:rotate(-45deg);-webkit-transition:all 0.3s ease;-o-transition:all 0.3s ease;-moz-transition:all 0.3s ease;transition:all 0.3s ease}
#_container ._content_wrap._content_01 ._keyword_lsts_wrap._on ._more_btn_wrap ._more_btn:after{content:'';position:absolute;top:50%;left:42%;width:16px;height:3px;background-color:#000;-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);-moz-transform:rotate(45deg);transform:rotate(45deg);-webkit-transition:all 0.3s ease;-o-transition:all 0.3s ease;-moz-transition:all 0.3s ease;transition:all 0.3s ease}
/* content_02 */
#_container._main ._content_wrap._content_02 ._content_box{width:100%}
#_container ._content_wrap._content_02 ._bestItem_lsts li{float:left;width:20%}
/* content_03 */
#_container._main ._content_wrap._content_03{padding:0}
#_container._main ._content_wrap._content_03 ._content_box{float:left;width:50%;height:599px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
#_container._main ._content_wrap._content_03 ._content_box ._img_box{width:80%;margin:0 auto}
#_container._main ._content_wrap._content_03 ._content_box._content_box_01{border-right:1px solid #ccc}
#_container ._content_wrap._content_03 ._content_box ._md_choice_box{float:left;width:50%;margin-top:30px}
#_container ._content_wrap._content_03 ._content_box ._md_choice_box._md_choice_box01{width:100%;margin-top:0}
#_container ._content_wrap._content_03 ._content_box ._text_box{width:100%;margin-top:20px;text-align:center}
#_container ._content_wrap._content_03 ._content_box ._text_box ._foc_txt{font-size:22px;font-weight:bold;color:#333}
#_container ._content_wrap._content_03 ._content_box ._text_box ._txt{margin-top:10px;font-size:18px;font-weight:bold;color:#777}
/* content_04 */
#_container._main ._content_wrap._content_04{margin-top:0;padding:0}
#_container._main ._content_wrap._content_04 ._content_box{width:50%;height:330px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
#_container._main ._content_wrap._content_04 ._content_box:nth-child(n+3){padding-top:0}
#_container._main ._content_wrap._content_04 ._content_box._content_box_04 ._sub_tit em{margin-right:0}
#_container ._content_wrap._content_04 ._content_box ._contact_box{float:left;width:50%;text-align:center}
#_container ._content_wrap._content_04 ._content_box ._contact_box ._contact{display:inline-block;position:relative;height:60px;padding-left:60px;line-height:30px;text-align:center;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
#_container ._content_wrap._content_04 ._content_box ._contact_box ._contact:before{content:'';position:absolute;top:50%;left:10px;width:40px;height:40px;margin-top:-20px;background-image:url(../img/shopping/contact_img.png);background-repeat:no-repeat;background-size:100%}
#_container ._content_wrap._content_04 ._content_box ._contact_box ._contact_txt{font-weight:bold;font-size:14px;color:#777}
#_container ._content_wrap._content_04 ._content_box ._contact_box ._contact_num{font-weight:bold;font-size:22px;color:#555}
#_container ._content_wrap._content_04 ._content_box ._opening_hours_box{margin-top:20px;line-height:24px;text-align:center;font-size:18px;color:#777}
#_container ._content_wrap._content_04 ._content_box ._review_box ._img_box{display:block;float:left;width:30%;margin-right:2%}
#_container ._content_wrap._content_04 ._content_box ._review_box ._review_lsts_wrap{display:table;float:left;width:68%}
#_container ._content_wrap._content_04 ._content_box ._review_box ._review_lsts{display:table-cell;vertical-align:middle}
#_container ._content_wrap._content_04 ._content_box ._review_box ._review_lsts li{margin-bottom:20px}
#_container ._content_wrap._content_04 ._content_box ._review_box ._review_lsts li:last-of-type{margin-bottom:0}
#_container ._content_wrap._content_04 ._content_box ._review_box ._review_lsts li span{display:block;margin-bottom:10px}
#_container ._content_wrap._content_04 ._content_box ._review_box ._review_lsts li span:last-of-type{margin-bottom:0}
#_container ._content_wrap._content_04 ._content_box ._review_box ._review_lsts li ._txt{font-size:16px;font-weight:bold;color:#555}
#_container ._content_wrap._content_04 ._content_box ._review_box ._review_lsts li ._info_txt{font-size:14px;font-weight:bold;color:#777}
#_container ._content_wrap._content_04 ._content_box._content_04 ._news_lsts_wrap{padding-left:30px}
#_container ._content_wrap._content_04 ._content_box ._news_lsts li{margin-bottom:20px;color:#555}
#_container ._content_wrap._content_04 ._content_box ._news_lsts li a:hover{font-weight:bold;color:#000}
#_container ._content_wrap._content_04 ._content_box ._news_lsts li:last-of-type{margin-bottom:0}
#_container ._content_wrap._content_04 ._content_box ._news_lsts li ._front_txt{position:relative;padding-right:20px;color:#777}
#_container ._content_wrap._content_04 ._content_box ._news_lsts li ._front_txt:after{content:'';position:absolute;top:0;right:10px;width:1px;height:100%;background-color:#ccc}
#_container ._content_wrap._content_04 ._content_box ._news_lsts li ._info_txt{display:inline-block;overflow:hidden;width:60%;text-overflow:ellipsis;white-space:nowrap}
/* content_05 */
#_container._main ._content_wrap._content_05 ._content_box{height:50px;text-align:center}
#_container._main ._content_wrap._content_05 ._content_box ._sub_tit{display:inline-block;position:relative;margin-bottom:0;padding-left:50px;line-height:25px}
#_container._main ._content_wrap._content_05 ._content_box ._sub_tit em{display:block;margin-bottom:10px}
#_container._main ._content_wrap._content_05 ._content_box a ._sub_tit:before{content:'';position:absolute;top:50%;left:0;width:40px;height:40px;margin-top:-20px;background-size:100%}
#_container._main ._content_wrap._content_05 ._content_box._content_box_01 a ._sub_tit:before{background-image:url(../img/shopping/membership_icon.png)}
#_container._main ._content_wrap._content_05 ._content_box._content_box_02 a ._sub_tit:before{background-image:url(../img/shopping/store_icon.png)}
#_container._main ._content_wrap._content_05 ._content_box._content_box_03 a ._sub_tit:before{background-image:url(../img/shopping/insta_icon.png)}
#_container._main ._content_wrap._content_05 ._content_box._content_box_04 a ._sub_tit:before{background-image:url(../img/shopping/face_icon.png)}
/* _footer */
#_footer{padding:30px 0;background-color:#555;border-top:5px solid #333}
#_footer ._footer_wrap{max-width:1200px;width:90%;margin:0 auto}
#_footer ._footer_top_wrap{margin-bottom:30px}
#_footer ._footer_top_wrap ._footer_lsts li{float:left;position:relative;width:16%;text-align:center}
#_footer ._footer_top_wrap ._footer_lsts li:nth-child(3){width:18%}
#_footer ._footer_top_wrap ._footer_lsts li:nth-child(n+5){width:17%}
#_footer ._footer_top_wrap ._footer_lsts li:after{content:'';position:absolute;top:50%;right:0;width:1px;height:18px;margin-top:-9px;background-color:#fff}
#_footer ._footer_top_wrap ._footer_lsts li:last-child:after{display:none}
#_footer ._footer_top_wrap ._footer_lsts li a{display:inline-block;line-height:40px;color:#fff}
#_footer ._footer_bot_wrap{text-align:center;font-size:14px;color:#fff}
#_footer ._footer_top_wrap ._footer_lsts li a:hover{color:#333;font-weight:bold}
#_footer ._footer_bot_wrap address:first-child{margin-bottom:20px}
#_footer ._footer_bot_wrap span{margin-right:20px}
#_footer ._footer_bot_wrap span:last-child{margin-right:0}
/* _brand */
#_container._brand ._content_wrap._content_01 ._content_box ._img_box{position:relative;max-width:771px;width:100%;margin:0 auto}
#_container._brand ._content_wrap._content_01 ._content_box ._img_box ._sub_tit{display:block;position:absolute;top:47%;left:72%;color:#000;letter-spacing:1px}
#_container._brand ._content_wrap._content_01 ._content_box ._img_box ._txt{display:block;position:absolute;top:13%;left:32%;line-height:64px;font-size:54px;color:#03a84c}
#_container._brand ._content_wrap._content_02 ._content_box ._txt_box{text-align:center;line-height:50px;font-weight:300;font-size:24px;color:#555}
#_container._brand ._content_wrap._content_03 ._content_box{height:auto}
#_container._brand ._content_wrap._content_03 ._content_box ._txt_box{float:left;position:relative;width:30%;padding-top:30px;text-align:center}
#_container._brand ._content_wrap._content_03 ._content_box ._txt_box:before{content:'';position:absolute;top:0;left:50%;width:8px;height:8px;margin-left:-5px;background-color:#03a84c;border:2px solid #000;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%}
#_container._brand ._content_wrap._content_03 ._content_box ._txt_box._txt_box_02{margin:0 5%}
#_container._brand ._content_wrap._content_03 ._content_box ._txt_box ._sub_tit{margin-bottom:20px;font-size:24px;font-weight:bold;color:#333}
#_container._brand ._content_wrap._content_03 ._content_box ._txt_box ._txt{line-height:36px;font-size:18px;color:#555}
#_container._brand ._content_wrap._content_04 ._content_box{height:auto;padding:0}
/* _community */
#_container._community ._sub_tit{padding:30px 0;line-height:30px;text-align:center;font-size:28px;color:#333}
#_container._community ._sub_tit span{display:block;font-size:16px;color:#777}
#_container._community ._content_container ._content_wrap{border-top:1px solid #ccc}
#_container._community ._content_container ._content_wrap ._info_box{padding:0 30px;color:#777}
#_container._community ._content_container ._content_wrap ._info_box a{display:block;position:absolute;top:10px;right:20px;width:120px;line-height:50px;text-align:center;font-weight:bold;background-color:#f1f1f1;color:#000;-webkit-transition:all 0.3s ease;-o-transition:all 0.3s ease;-moz-transition:all 0.3s ease;transition:all 0.3s ease}
#_container._community ._content_container ._content_wrap ._info_box a:hover,#_container._community ._content_container ._content_wrap ._info_box a:focus{background-color:#f9b0b0;color:#f1f1f1}
#_new_write_wrap{display:none;position:fixed;top:0;left:0;width:100%;height:100%;background-color:rgba(0,0,0,0.8);z-index:999}
#_new_write_wrap ._new_write{position:absolute;top:50%;left:50%;width:1200px;padding:50px;background-color:#fff;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}
#_new_write_wrap ._new_write ._sub_tit{margin-bottom:30px;text-align:center;font-size:32px;color:#000}
#_new_write_wrap ._new_write form{width:1000px;margin:0 auto}
#_new_write_wrap ._new_write form label{display:none}
#_new_write_wrap ._new_write form ._tit_input input{display:block;width:100%;height:40px;margin-bottom:20px;padding:10px;line-height:40px;font-size:18px;border:1px solid #ccc}
#_new_write_wrap ._new_write form ._upload input{display:block;margin-bottom:20px}
#_new_write_wrap ._new_write form ._write_wrap input{width:100%;height:400px;margin-bottom:30px;padding:10px;border:1px solid #ccc;font-size:18px}
#_new_write_wrap ._new_write form ._sub_btn input{display:block;width:120px;height:40px;margin:0 auto;line-height:40px;font-size:18px;background-color:#ccc;font-weight:bold}
#_new_write_wrap ._new_write form ._close_btn_wrap{position:absolute;top:20px;right:20px;width:40px;height:40px;background-color:#000}
#_new_write_wrap ._new_write form ._close_btn_wrap ._close_btn{position:relative;width:100%;height:100%}
#_new_write_wrap ._new_write form ._close_btn_wrap ._close_btn span{display:block;position:absolute;top:50%;left:50%;width:20px;height:2px;margin-top:-1px;margin-left:-10px;background-color:#ccc}
#_new_write_wrap ._new_write form ._close_btn_wrap ._close_btn span._top{-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);-moz-transform:rotate(45deg);transform:rotate(45deg)}
#_new_write_wrap ._new_write form ._close_btn_wrap ._close_btn span._bot{-webkit-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-moz-transform:rotate(-45deg);transform:rotate(-45deg)}
#_container._community ._content_container ._content_wrap ._photo_review ._lst{float:left;position:relative;width:22%;height:350px;margin-top:30px;margin-right:4%}
#_container._community ._content_container ._content_wrap ._photo_review ._lst:nth-child(4n){margin-right:0}
#_container._community ._content_container ._content_wrap ._photo_review ._lst:nth-of-type(n+9){display:none}
#_container._community ._content_container ._content_wrap ._photo_review ._lst a{overflow:hidden;display:block;width:100%;height:100%;border:5px solid #f1f1f1;-webkit-border-radius:20px;-moz-border-radius:20px;border-radius:20px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;
box-sizing:border-box;-webkit-transition:all 0.3s ease;-o-transition:all 0.3s ease;-moz-transition:all 0.3s ease;transition:all 0.3s ease}
#_container._community ._content_container ._content_wrap ._photo_review ._lst a:hover,#_container._community ._content_container ._content_wrap ._photo_review ._lst a:focus{border-color:#f9b0b0}
#_container._community ._content_container ._content_wrap ._photo_review ._lst a:hover ._review_tit,#_container._community ._content_container ._content_wrap ._photo_review ._lst a:focus ._review_tit{color:#f9b0b0}
#_container._community ._content_container ._content_wrap ._photo_review ._lst ._img_box{overflow:hidden;height:60%}
#_container._community ._content_container ._content_wrap ._photo_review ._lst ._img_box img{display:block;width:100%}
#_container._community ._content_container ._content_wrap ._photo_review ._lst ._dec_box{padding:10px;line-height:24px;font-size:12px}
#_container._community ._content_container ._content_wrap ._photo_review ._lst ._dec_box ._review_tit{line-height:30px;font-size:16px;font-weight:bold;-webkit-transition:all 0.3s ease;-o-transition:all 0.3s ease;-moz-transition:all 0.3s ease;transition:all 0.3s ease}
#_container._community ._content_container ._content_wrap ._photo_review ._lst ._dec_box ._date{position:absolute;bottom:10px;right:10px}
#_container._community ._content_container ._content_wrap ._more_btn_wrap{width:120px;height:50px;margin:30px auto 0}
#_container._community ._content_container ._content_wrap ._more_btn_wrap ._more_btn{display:block;width:100%;height:100%;padding:0;line-height:50px;font-size:100%;font-weight:bold;;background-color:#f1f1f1;-webkit-transition:all 0.3s ease;-o-transition:all 0.3s ease;-moz-transition:all 0.3s ease;transition:all 0.3s ease}
#_container._community ._content_container ._content_wrap ._more_btn_wrap ._more_btn:before{display:none}
#_container._community ._content_container ._content_wrap ._more_btn_wrap ._more_btn:after{display:none}
#_container._community ._content_container ._content_wrap ._more_btn_wrap:hover ._more_btn,#_container._community ._content_container ._content_wrap ._more_btn_wrap:focus ._more_btn{background-color:#f9b0b0;color:#f1f1f1}
/* event */
#_container._event ._content_container ._content_wrap ._event_wrap ._lst{float:left;width:48%;margin-top:30px;margin-right:2%}
#_container._event ._content_container ._content_wrap ._event_wrap ._lst:nth-of-type(2n){margin-right:0}
#_container._community ._content_container ._content_wrap ._event_wrap ._lst a{overflow:hidden;display:block;width:100%;height:100%;border:5px solid #f1f1f1;-webkit-border-radius:20px;-moz-border-radius:20px;border-radius:20px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;
box-sizing:border-box;-webkit-transition:all 0.3s ease;-o-transition:all 0.3s ease;-moz-transition:all 0.3s ease;transition:all 0.3s ease}
#_container._community ._content_container ._content_wrap ._event_wrap ._lst a:hover,#_container._community ._content_container ._content_wrap ._event_wrap ._lst a:focus{border-color:#f9b0b0}
#_container._community ._content_container ._content_wrap ._event_wrap ._lst a:hover ._review_tit,#_container._community ._content_container ._content_wrap ._event_wrap ._lst a:focus ._review_tit{color:#f9b0b0}
#_container._community ._content_container ._content_wrap ._event_wrap ._lst ._img_box{overflow:hidden;height:60%}
#_container._community ._content_container ._content_wrap ._event_wrap ._lst ._img_box img{display:block;width:100%}
#_container._community ._content_container ._content_wrap ._event_wrap ._lst ._dec_box{padding:10px;line-height:24px;font-size:12px}
#_container._community ._content_container ._content_wrap ._event_wrap ._lst ._dec_box ._review_tit{line-height:30px;font-size:16px;font-weight:bold;-webkit-transition:all 0.3s ease;-o-transition:all 0.3s ease;-moz-transition:all 0.3s ease;transition:all 0.3s ease}
/* _myTonymoly */
#_container._my_tonymoly ._content_container ._content_wrap ._content_box ._tit_box{height:100px;line-height:100px;margin-bottom:50px;font-size:48px;color:#555;border-bottom:2px solid #555}
#_container._my_tonymoly ._content_container ._content_wrap ._content_box ._login_wrap{float:left;position:relative;width:50%;height:250px}
#_container._my_tonymoly ._content_container ._content_wrap ._content_box ._login_wrap ._login{position:absolute;top:50%;left:50%;width:90%;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);transform:translate(-50%,-50%);color:#333}
#_container._my_tonymoly ._content_container ._login_container ._login_wrap ._login ._login_txt_box{position:relative;height:100px;margin-bottom:20px;padding-left:80px}
#_container._my_tonymoly ._content_container ._login_container ._login_wrap ._login ._login_txt_box:before{content:'';position:absolute;width:60px;height:60px;top:50%;left:0;margin-top:-30px;background-image:url(../img/mytonymoly/icon_login_lock.gif);background-size:100%}
#_container._my_tonymoly ._content_container ._login_container ._login_wrap ._login ._login_txt_box ._login_txt{line-height:50px;font-size:24px;color:#333}
#_container._my_tonymoly ._content_container ._login_container ._login_wrap ._login ._login_txt_box ._txt{line-height:25px;font-size:14px;color:#777}
#_container._my_tonymoly ._content_container ._login_container ._login_wrap ._login ._id_pw_box{position:relative;padding-right:20%}
#_container._my_tonymoly ._content_container ._login_container ._login_wrap ._login ._id_pw_box ._id_box{margin-bottom:20px}
#_container._my_tonymoly ._content_container ._login_container ._login_wrap ._login ._id_pw_box label{display:inline-block;width:30%;height:30px;line-height:30px;font-size:18px}
#_container._my_tonymoly ._content_container ._login_container ._login_wrap ._login ._id_pw_box input{display:inline-block;width:70%;height:30px;line-height:30px;font-size:18px;border:1px solid #ccc;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
#_container._my_tonymoly ._content_container ._login_container ._login_wrap ._login ._id_pw_box ._login_btn_box{position:absolute;top:50%;right:0;width:80px;height:80px;margin-top:-40px}
#_container._my_tonymoly ._content_container ._login_container ._login_wrap ._login ._id_pw_box ._login_btn_box ._login_btn{width:100%;height:100%;line-height:80px}
#_container._my_tonymoly ._content_container ._login_container ._login_wrap ._login ._txt{margin-bottom:20px;line-height:24px;font-size:14px;color:#999}
#_container._my_tonymoly ._content_container ._login_container ._login_wrap ._login ._txt strong{font-size:24px;color:#333}
#_container._my_tonymoly ._content_container ._login_container ._login_wrap ._login button{width:120px;height:40px;line-height:40px;background-color:#111;color:#fff;cursor:pointer}
/* _service */
#_container._service ._content_container ._content_wrap ._content_box ._tit_box{margin-bottom:0}
#_container._service ._content_container ._content_wrap ._faq_lsts_container ._faq_lsts ._faq_lst{float:left;width:10%}
#_container._service ._content_container ._content_wrap ._faq_lsts_container ._faq_lsts ._faq_lst:nth-child(5),#_container._service ._content_container ._content_wrap ._faq_lsts_container ._faq_lsts ._faq_lst:nth-child(6){width:20%}
#_container._service ._content_container ._content_wrap ._faq_lsts_container ._faq_lsts ._faq_lst a{display:block;height:40px;line-height:40px;text-align:center;background-color:#f9f9f9;border:1px solid #000;border-top:none;border-right:none;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
#_container._service ._content_container ._content_wrap ._faq_lsts_container ._faq_lsts ._faq_lst a:hover,#_container._service ._content_container ._content_wrap ._faq_lsts_container ._faq_lsts ._faq_lst a:focus{background-color:#fff;border-bottom:none}
#_container._service ._content_container ._content_wrap ._faq_lsts_container ._faq_lsts ._faq_lst._active a{background-color:#fff;border-bottom:none}
#_container._service ._content_container ._content_wrap ._faq_lsts_container ._faq_lsts ._faq_lst:last-child a{border-right:1px solid #000}
#_container._service ._content_container ._content_wrap ._faq_lsts_container ._qa_lsts_wrap{display:none;text-align:center}
#_container._service ._content_container ._content_wrap ._faq_lsts_container ._qa_lsts_wrap dl{display:none;text-align:left}
#_container._service ._content_container ._content_wrap ._faq_lsts_container ._qa_lsts_wrap dl:first-of-type{display:block}
#_container._service ._content_container ._content_wrap ._faq_lsts_container ._qa_lsts_wrap dl dt a{display:block;position:relative;padding:35px 60px;border-bottom:1px solid #ccc}
#_container._service ._content_container ._content_wrap ._faq_lsts_container ._qa_lsts_wrap dl dt a:before{content:'Q';position:absolute;top:50%;left:10px;width:10px;height:10px;margin-top:-5px;line-height:10px;font-weight:bold}
#_container._service ._content_container ._content_wrap ._faq_lsts_container ._qa_lsts_wrap dl dt a:hover,#_container._service ._content_container ._content_wrap ._faq_lsts_container ._qa_lsts_wrap dl dt a:focus{color:#f9b0b0}
#_container._service ._content_container ._content_wrap ._faq_lsts_container ._qa_lsts_wrap dl dd{display:none;position:relative;padding:35px 60px;line-height:24px;border-bottom:1px solid #ccc;background-color:#f1f1f1}
#_container._service ._content_container ._content_wrap ._faq_lsts_container ._qa_lsts_wrap dl dd:before{content:'A';position:absolute;top:50%;left:10px;width:10px;height:10px;margin-top:-5px;line-height:10px;font-weight:bold}
#_container._service ._content_container ._content_wrap ._faq_lsts_container ._qa_lsts_wrap._active{display:block}
#_container._service ._content_container ._content_wrap ._faq_lsts_container ._qa_lsts_wrap ._paging_wrap{margin-top:20px}
#_container._service ._content_container ._content_wrap ._faq_lsts_container ._qa_lsts_wrap ._paging_wrap ._paging{display:inline-block}
#_container._service ._content_container ._content_wrap ._faq_lsts_container ._qa_lsts_wrap ._paging_wrap ._paging a._active{color:#f9b0b0}
#_container._service ._content_container ._content_wrap ._faq_lsts_container ._qa_lsts_wrap ._paging_wrap a{display:inline-block;width:40px;height:40px;line-height:40px}
#_container._service ._content_container ._content_wrap ._faq_lsts_container ._qa_lsts_wrap ._paging_wrap a._prev_btn{position:relative;padding-left:20px}
#_container._service ._content_container ._content_wrap ._faq_lsts_container ._qa_lsts_wrap ._paging_wrap a._prev_btn:before{content:'';position:absolute;top:50%;left:0;width:20px;height:20px;margin-top:-10px;background-image:url(../img/service/prev.png);background-size:100%}
#_container._service ._content_container ._content_wrap ._faq_lsts_container ._qa_lsts_wrap ._paging_wrap a._next_btn{position:relative;padding-right:20px}
#_container._service ._content_container ._content_wrap ._faq_lsts_container ._qa_lsts_wrap ._paging_wrap a._next_btn:before{content:'';position:absolute;top:50%;right:0;width:20px;height:20px;margin-top:-10px;background-image:url(../img/service/next.png);background-size:100%}
/* width 1025 보다 작은 화면 */
@media only screen and (max-width:1024px){
    ._sub_tit{margin-bottom:20px;font-size:16px}
    ._sub_tit em{font-size:18px}
/*    _header    */
    #_header ._header_top{width:100%}
    #_header ._header_top ._member_info_wrap{display:none}
    #_header ._header_down_wrap{display:none}
    #_header ._moblie_menu_btn_wrap ._m_btn{display:block}
    #_moblie_menu_wrap{display:block}
/*    _container    */
    #_container{margin-top:0}
    #_container ._slider_container ._slider_wrap ._slider{width:800%}
    #_container._main ._content_wrap ._content_box ._content{position:static;top:inherit;left:inherit;-webkit-transform:none;-ms-transform:none;-moz-transform:none;transform:none}
    #_container._main ._content_wrap._content_03 ._content_box{height:auto}
    #_container._main ._content_wrap._content_03 ._content_box ._text_box ._foc_txt{font-size:18px}
    #_container._main ._content_wrap._content_03 ._content_box ._text_box ._txt{font-size:16px}
    #_container._main ._content_wrap._content_04 ._content_box{height:auto}
    #_container ._content_wrap._content_04 ._content_box ._contact_box ._contact{padding-left:50px}
    #_container ._content_wrap._content_04 ._content_box ._contact_box ._contact:before{width:30px;height:30px;margin-top:-15px}
    #_container ._content_wrap._content_04 ._content_box ._contact_box ._contact_num{font-size:18px}
    #_container ._content_wrap._content_04 ._content_box ._opening_hours_box{font-size:16px}
    #_container ._content_wrap._content_04 ._content_box ._review_box ._review_lsts li ._txt{font-size:14px}
    #_container ._content_wrap._content_04 ._content_box ._review_box ._review_lsts li ._info_txt{font-size:12px}
    #_container ._content_wrap._content_04 ._content_box ._news_lsts li a{font-size:14px}
/*    community    */
    #_container._community ._content_container ._content_wrap ._photo_review ._lst{height:250px}
    #_container._community ._content_container ._content_wrap ._photo_review ._lst ._dec_box ._review_tit{overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
    #_new_write_wrap ._new_write{width:90%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
    #_new_write_wrap ._new_write form{width:100%}
    #_new_write_wrap ._new_write ._sub_tit{font-size:24px}
    #_new_write_wrap ._new_write form ._tit_input input{height:20px;line-height:20px;font-size:16px}
    #_new_write_wrap ._new_write form ._write_wrap input{height:300px;font-size:16px}
    #_new_write_wrap ._new_write form ._sub_btn input{font-size:16px}
/*    event    */
    #_container._event ._content_container ._content_wrap ._event_wrap ._lst ._dec_box ._review_tit{overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
/*    _myTonymoly    */
    #_container._my_tonymoly ._content_container ._login_container ._login_wrap ._login button{width:110px}
    #_container._my_tonymoly ._content_container ._content_wrap ._content_box ._login_wrap{height:350px}
    #_container._my_tonymoly ._content_container ._login_container ._login_wrap ._login ._id_pw_box ._login_btn_box{width:60px;height:60px;margin-top:-30px}
    #_container._my_tonymoly ._content_container ._login_container ._login_wrap ._login ._id_pw_box ._login_btn_box ._login_btn{line-height:60px}
}
/* width 992px 보다 작은 화면 */
@media only screen and (max-width:991px){
    ._sub_tit{text-align:center}    
/*    _container    */
    #_container ._slider_container ._pager_wrap ._pager_btn{width:18px;height:18px;line-height:18px;font-size:12px}
    #_container ._slider_container ._play_stop_wrap ._btn{width:21px;height:21px;background-size:100%}
    #_container._main ._content_wrap ._content_box{width:33.3%}
    #_container._main ._content_wrap._content_01 ._content_box._content_box_01{width:100%;padding-bottom:0}
    #_container ._content_wrap._content_01 ._content_box ._keyword_lsts li{text-align:center}
    #_container ._content_wrap._content_01 ._content_box ._keyword_lsts li span{width:auto}
    #_container ._content_wrap._content_02 ._bestItem_lsts li{width:50%}
    #_container._main ._content_wrap._content_03 ._content_box{width:100%}
    #_container._main ._content_wrap._content_03 ._content_box._content_box_02 ._sub_tit{padding-left:0}
    #_container._main ._content_wrap._content_03 ._content_box._content_box_01{border:none}
    #_container._main ._content_wrap._content_04 ._content_box._content_box_01,#_container._main ._content_wrap._content_04 ._content_box._content_box_02{width:100%}
    #_container._main ._content_wrap._content_04 ._content_box._content_box_02{border-top:1px solid #ccc;border-bottom:1px solid #ccc}
    #_container._main ._content_wrap._content_04 ._content_box:nth-child(n+3){padding-top:30px}
    #_container._main ._content_wrap._content_04 ._content_box._content_box_02 ._sub_tit{padding-left:0}
    #_container._main ._content_wrap._content_04 ._content_box ._review_box ._img_box{float:none;width:100%;margin-right:0}
    #_container ._content_wrap._content_04 ._content_box ._review_box ._review_lsts_wrap{float:none;width:100%;text-align:center}
    #_container._main ._content_wrap._content_05 ._content_box{width:25%}
    #_container._main ._content_wrap._content_05 ._content_box ._sub_tit{padding-left:30px;font-size:14px}
    #_container._main ._content_wrap._content_05 ._content_box a ._sub_tit:before{width:20px;height:20px;margin-top:-10px}
    #_container._main ._content_wrap._content_05 ._content_box ._sub_tit em{margin-bottom:0;font-size:16px}
/*    _footer    */
    #_footer ._footer_top_wrap ._footer_lsts li a{font-size:14px}
    #_footer ._footer_bot_wrap span{display:block;margin-right:0;margin-bottom:10px}
    #_footer ._footer_bot_wrap span:last-child{margin-bottom:0}
/*    _brand    */
    #_container._brand ._content_wrap._content_01 ._content_box ._img_box ._txt{font-size:42px}
    #_container._brand ._content_wrap._content_02 ._content_box ._txt_box{line-height:40px;font-size:18px}
    #_container._brand ._content_wrap._content_03 ._content_box ._txt_box{width:49%}
    #_container._brand ._content_wrap._content_03 ._content_box ._txt_box._txt_box_01{margin-right:1%}
    #_container._brand ._content_wrap._content_03 ._content_box ._txt_box._txt_box_02{margin:0;margin-left:1%}
    #_container._brand ._content_wrap._content_03 ._content_box ._txt_box._txt_box_03{width:100%}
    #_container._brand ._content_wrap._content_03 ._content_box ._txt_box ._sub_tit{font-size:20px}
    #_container._brand ._content_wrap._content_03 ._content_box ._txt_box ._txt{font-size:16px}
/*    community    */
    #_container._community ._content_container ._content_wrap ._info_box{font-size:14px}
    #_container._community ._content_container ._content_wrap ._info_box a{line-height:40px;font-size:14px}
    #_container._community ._content_container ._content_wrap ._photo_review ._lst ._dec_box ._review_tit{font-size:14px}
    #_container._community ._content_container ._content_wrap ._more_btn_wrap{height:40px}
    #_container._community ._content_container ._content_wrap ._more_btn_wrap ._more_btn{line-height:40px;font-size:14px}
    #_new_write_wrap ._new_write form ._sub_btn input{font-size:14px}
/*    event    */
    #_container._event ._content_container ._content_wrap ._event_wrap ._lst ._dec_box ._review_tit{font-size:14px}
/*    _myTonymoly    */
    #_container._my_tonymoly ._content_container ._login_container ._login_wrap ._login ._login_txt_box ._login_txt{font-size:18px}
    #_container._my_tonymoly ._content_container ._login_container ._login_wrap ._login ._txt strong{font-size:18px}
    #_container._my_tonymoly ._content_container ._login_container ._login_wrap ._login ._id_pw_box input{width:70%}
    #_container._my_tonymoly ._content_container ._login_container ._login_wrap ._login ._id_pw_box{padding-right:0}
    #_container._my_tonymoly ._content_container ._login_container ._login_wrap ._login ._id_pw_box ._login_btn_box{position:static;top:inherit;right:inherit;width:110px;height:40px;margin-top:20px}
    #_container._my_tonymoly ._content_container ._login_container ._login_wrap ._login ._id_pw_box ._login_btn_box ._login_btn{line-height:40px}
/*    _service    */
    #_container._my_tonymoly ._content_container ._content_wrap ._content_box ._tit_box{height:50px;line-height:50px;font-size:28px}
    #_container._service ._content_container ._content_wrap ._faq_lsts_container ._faq_lsts ._faq_lst a{overflow:hidden;font-size:14px;text-overflow:ellipsis;white-space:nowrap}
    #_container._service ._content_container ._content_wrap ._faq_lsts_container ._qa_lsts_wrap dl{font-size:14px}
    #_container._service ._content_container ._content_wrap ._faq_lsts_container ._qa_lsts_wrap dl dt a,#_container._service ._content_container ._content_wrap ._faq_lsts_container ._qa_lsts_wrap dl dd{padding:20px 40px}
    #_container._service ._content_container ._content_wrap ._faq_lsts_container ._qa_lsts_wrap dl dt a:before{font-size:14px}
}
/* width 768px 보다 작은 화면 */
@media only screen and (max-width:767px){
    ._sub_tit{font-size:14px}
    ._sub_tit em{font-size:16px} 
/*    _header    */
    #_header ._header_top ._logo_wrap ._logo a{font-size:18px}
    #_moblie_menu_wrap{width:100%}
    #_moblie_menu_wrap ._moblie_gnb ._moblie_menu_lsts ._lst > a{line-height:30px;font-size:14px}
    #_moblie_menu_wrap ._moblie_gnb ._moblie_menu_lsts ._lst > a span{padding-left:5px;font-size:12px}
    #_moblie_menu_wrap ._moblie_gnb ._moblie_menu_lsts ._lst ._sub_lst > li a{line-height:24px;font-size:12px}    
/*    _container    */
    #_container ._content_wrap._content_01 ._content_box ._keyword_lsts li{font-size:14px}
    #_container._main ._content_wrap._content_03 ._content_box ._text_box ._foc_txt{font-size:16px}
    #_container._main ._content_wrap._content_03 ._content_box ._text_box ._txt{font-size:14px}
    #_container._main ._content_wrap._content_04 ._content_box ._contact_box ._contact{height:40px;padding-left:40px;line-height:20px}
    #_container ._content_wrap._content_04 ._content_box ._contact_box ._contact:before{width:20px;height:20px;margin-top:-10px}
    #_container ._content_wrap._content_04 ._content_box ._contact_box ._contact_txt{font-size:12px}
    #_container ._content_wrap._content_04 ._content_box ._contact_box ._contact_num{font-size:16px}
    #_container ._content_wrap._content_04 ._content_box ._opening_hours_box{font-size:14px}
    #_container ._content_wrap._content_04 ._content_box ._review_box ._review_lsts li ._txt{font-size:12px}
    #_container ._content_wrap._content_04 ._content_box ._review_box ._review_lsts li ._info_txt{font-size:10px}
    #_container ._content_wrap._content_04 ._content_box ._news_lsts li a{font-size:12px}
    #_container._main ._content_wrap._content_05 ._content_box{width:50%}
/*    _footer    */
    #_footer ._footer_top_wrap ._footer_lsts li{width:14%}
    #_footer ._footer_top_wrap ._footer_lsts li:nth-child(3){width:20%}
    #_footer ._footer_top_wrap ._footer_lsts li:nth-child(n+5){width:19%}
    #_footer ._footer_top_wrap ._footer_lsts li a{font-size:12px}
    #_footer ._footer_bot_wrap{font-size:12px}
/*    _brand    */
    #_container._brand ._content_wrap._content_01 ._content_box ._img_box ._txt{line-height:49px;font-size:28px}
    #_container._brand ._content_wrap._content_02 ._content_box ._txt_box{line-height:40px;font-size:16px}
    #_container._brand ._content_wrap._content_02 ._content_box ._txt_box br{display:none}
    #_container._brand ._content_wrap._content_03 ._content_box ._txt_box ._sub_tit{font-size:18px}
    #_container._brand ._content_wrap._content_03 ._content_box ._txt_box ._txt{font-size:14px}    
/*    community    */
    #_container._community ._content_container ._content_wrap ._photo_review ._lst{width:100%;margin-right:0}
    #_container._community ._content_container ._content_wrap ._info_box{text-align:center;font-size:12px}
    #_container._community ._content_container ._content_wrap ._info_box a{position:static;display:inline-block;top:inherit;right:inherit;margin-top:30px}
    #_new_write_wrap{overflow-y:scroll}
    #_new_write_wrap ._new_write{top:0;padding:5px;-webkit-transform:translate(-50%,0);-ms-transform:translate(-50%,0);-moz-transform:translate(-50%,0);transform:translate(-50%,0)}
    #_new_write_wrap ._new_write ._sub_tit{font-size:18px}
    #_new_write_wrap ._new_write form ._tit_input input{height:30px;font-size:14px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
    #_new_write_wrap ._new_write form ._write_wrap input{height:350px;font-size:14px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
/*    event    */
    #_container._event ._content_container ._content_wrap ._event_wrap ._lst{width:100%;margin-right:0}
/*    _myTonymoly    */
    #_container._my_tonymoly ._content_container ._login_container ._login_wrap ._login ._login_txt_box{height:80px;padding-left:60px}
    #_container._my_tonymoly ._content_container ._login_container ._login_wrap ._login ._login_txt_box ._login_txt{line-height:40px}
    #_container._my_tonymoly ._content_container ._login_container ._login_wrap ._login ._login_txt_box ._txt{line-height:20px}
    #_container._my_tonymoly ._content_container ._login_container ._login_wrap ._login ._login_txt_box:before{width:40px;height:40px;margin-top:-20px}
    #_container._my_tonymoly ._content_container ._content_wrap ._content_box ._tit_box{height:50px;line-height:50px;margin-bottom:30px;font-size:24px}
    #_container._my_tonymoly ._content_container ._content_wrap ._content_box ._login_wrap{float:none;width:100%;height:auto;margin-bottom:30px;padding-bottom:30px;border-bottom:1px solid #ccc}
    #_container._my_tonymoly ._content_container ._content_wrap ._content_box ._login_wrap:last-of-type{margin-bottom:0}
    #_container._my_tonymoly ._content_container ._content_wrap ._content_box ._login_wrap ._login{position:static;top:inherit;left:inherit;margin:0 auto;-webkit-transform:none;-ms-transform:none;-moz-transform:none;transform:none}
    #_container._my_tonymoly ._content_container ._login_container ._login_wrap ._login ._login_txt_box ._txt{font-size:12px}
    #_container._my_tonymoly ._content_container ._login_container ._login_wrap ._login ._id_pw_box label{font-size:14px}
    #_container._my_tonymoly ._content_container ._login_container ._login_wrap ._login ._id_pw_box input{font-size:14px}
    #_container._my_tonymoly ._content_container ._login_container ._login_wrap ._login ._txt{font-size:12px}
    #_container._my_tonymoly ._content_container ._login_container ._login_wrap ._login button{font-size:12px}
/*    _service   */
    #_container._service ._content_container ._content_wrap ._content_box ._tit_box{margin-bottom:0;font-size:18px}
    #_container._service ._content_container ._content_wrap ._faq_lsts_container ._faq_lsts ._faq_lst a{font-size:12px}
    #_container._service ._content_container ._content_wrap ._faq_lsts_container ._qa_lsts_wrap dl{font-size:12px}
    #_container._service ._content_container ._content_wrap ._faq_lsts_container ._qa_lsts_wrap ._paging_wrap a{width:30px;height:30px;line-height:30px;font-size:14px}
    #_container._service ._content_container ._content_wrap ._faq_lsts_container ._qa_lsts_wrap ._paging_wrap a._prev_btn:before,#_container._service ._content_container ._content_wrap ._faq_lsts_container ._qa_lsts_wrap ._paging_wrap a._next_btn:before{width:15px;height:15px;margin-top:-7.5px}
}
@media only screen and (max-width:567px){
/*    _container    */
    #_container ._slider_container{margin-bottom:15px}
/*    #_container ._slider_container ._slider_wrap ._slider{width:1000%}*/
    #_container ._slider_container ._pager_wrap{bottom:0}
    #_container ._slider_container ._pager_wrap ._pager_btn{width:10px;height:10px;margin-right:5px;text-indent:-9999px}
    #_container ._slider_container ._btn_wrap > ._btn{display:none}
    #_container ._slider_container ._play_stop_wrap{bottom:0;right:30px}
    #_container ._content_wrap._content_03 ._content_box ._text_box ._foc_txt{font-size:14px}
    #_container._main ._content_wrap._content_04 ._content_box{width:100%}
    #_container._main ._content_wrap._content_04 ._content_box._content_box_03{border-bottom:1px solid #ccc}
    #_container ._content_wrap._content_04 ._content_box._content_box_04 ._news_lsts_wrap{padding-left:0}
    #_container ._content_wrap._content_04 ._content_box ._contact_box ._contact_txt{font-size:10px}
/*    _footer    */
    #_footer ._footer_wrap{width:100%}
    #_footer ._footer_top_wrap ._footer_top ._footer_lsts li{width:30%}
    #_footer ._footer_top_wrap ._footer_top ._footer_lsts li:nth-child(3n){width:40%}
    #_footer ._footer_top_wrap ._footer_top ._footer_lsts li:nth-child(3n):after{display:none}
    #_footer ._footer_bot_wrap{font-size:11px}
/*    _brand    */
    #_container._brand ._content_wrap._content_01 ._content_box ._img_box ._txt{line-height:25px;font-size:20px}
    #_container._brand ._content_wrap._content_01 ._content_box ._img_box ._sub_tit{left:71%;font-size:10px;letter-spacing:0}
    #_container._brand ._content_wrap._content_02 ._content_box ._txt_box{line-height:30px;font-size:14px}
    #_container._brand ._content_wrap._content_03 ._content_box ._txt_box{width:100%}
    #_container._brand ._content_wrap._content_03 ._content_box ._txt_box._txt_box_01{margin:0}
    #_container._brand ._content_wrap._content_03 ._content_box ._txt_box._txt_box_02{margin:0}
    #_container._brand ._content_wrap._content_03 ._content_box ._txt_box ._sub_tit{font-size:18px}
    #_container._brand ._content_wrap._content_03 ._content_box ._txt_box ._txt{font-size:14px}
/*    _myTonymoly    */
    #_container._my_tonymoly ._content_container ._content_wrap._content_02{display:none}
/*    _service    */
    #_container._service ._content_container ._content_wrap ._faq_lsts_container ._faq_lsts ._faq_lst{width:50% !important}
    #_container._service ._content_container ._content_wrap ._faq_lsts_container ._faq_lsts ._faq_lst a{border:1px solid #000;border-top:none}
    #_container._service ._content_container ._content_wrap ._faq_lsts_container ._faq_lsts ._faq_lst:nth-child(2n) a{border-left:none}
    #_container._service ._content_container ._content_wrap ._faq_lsts_container ._faq_lsts ._faq_lst._active a{border-bottom:1px solid #000}
}